In [1]:
"""
Workbook to analyse data on driver license suspensions from the Alachua
County Court Clerk's office for calendar year 2018.
"""
import pandas as pd
import numpy as np
import datetime

In [2]:
#Read in the file
file = "susplic.xlsx"
cols = ['casenum', 'statnum', 'zip', 'yob', 'race', 'gender']
df = pd.read_excel(file, usecols=[0, 1, 8, 9, 10, 11], names=cols)
df.drop_duplicates('casenum', inplace=True)
df.zip = df.zip.apply(str)
df.statnum = df.statnum.apply(str)

In [3]:
# Distribution by race
df.race.value_counts()

WHITE              1743
BLACK              1294
Unknown              74
HISPANIC             28
ASIAN                27
Oriental/Asian       10
INDIAN                5
AMERICAN INDIAN       1
Name: race, dtype: int64

In [4]:
# Distribution by zip code
zip_df = df.zip.value_counts()
zip_df.head(25)

32608    315
32607    308
32641    227
32609    190
32601    151
32605    131
32606    107
32615     91
32653     76
32669     76
32643     69
32640     67
32618     42
32696     41
32038     32
32054     29
32656     29
32693     26
32091     23
32666     19
32694     19
32667     19
32621     17
32603     16
32055     16
Name: zip, dtype: int64

In [5]:
# Top zip codes by race
df.loc[df.zip == '32608'].race.value_counts()

WHITE             155
BLACK             131
Unknown            13
ASIAN               6
HISPANIC            5
Oriental/Asian      3
INDIAN              1
Name: race, dtype: int64

In [6]:
df.loc[df.zip == '32607'].race.value_counts()

BLACK       164
WHITE       127
Unknown       8
HISPANIC      5
ASIAN         3
INDIAN        1
Name: race, dtype: int64

In [7]:
df.loc[df.zip == '32641'].race.value_counts()

BLACK    185
WHITE     42
Name: race, dtype: int64

In [8]:
df.loc[df.zip == '32609'].race.value_counts()

BLACK       116
WHITE        70
HISPANIC      2
ASIAN         1
Unknown       1
Name: race, dtype: int64

In [9]:
df.loc[df.zip == '32601'].race.value_counts()

WHITE             77
BLACK             64
Unknown            4
ASIAN              3
HISPANIC           2
Oriental/Asian     1
Name: race, dtype: int64

In [10]:
# Distribution by statute number
stat_df = df.statnum.str.split(".").str[0]
stat_df = stat_df.value_counts()
stat_df

316    2576
322     503
320      88
893      12
843       3
812       1
901       1
Name: statnum, dtype: int64